<app-navbar></app-navbar>

<h2 style="text-align: center;margin-top: 3%;font-size: 35px;font-weight: bold"> </h2>

<div class="card jumsize2 shadow p f">
  <div class="card-body ">
    <div class="row c1">
      <div class="col">
        <div class="container">
          <img src="assets/หลัก1.png">
          <div class="overlay">
            <div class="t5"><img src="assets/a1-1.png" ></div><div class="data">11</div>
            <div class="t6"><img src="assets/a1-2.png" ></div><div class="data2">11</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <img src="assets/หลัก2.png">
          <div class="overlay">
            <div class="t8"><img src="assets/a2และ4.png" routerLink="/set-weight"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-4"></div>
    <div class="row c2">
        <div class="col">
          <div class="container">
            <img src="assets/หลัก3.png">
            <div class="overlay">
              <div class="t5"><img src="assets/a3-1.png"></div>
              <div class="t6"><img src="assets/a3-2.png"></div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <img src="assets/หลัก4.png">
            <div class="overlay">
              <div class="t8"><img src="assets/a2และ4.png"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
