<app-navbar></app-navbar>

<div class="header">
  <p class="text-center"><strong>เปลี่ยนรหัสผ่าน</strong></p>

  <div class="card jumsize shadow">
    <form>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-form-label">ชื่อผู้ใช้งาน</label>
          <div class="col-sm-7 ml-auto">
            <input type="text" class="form-control" maxlength="8" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label">รหัสผ่านใหม่</label>
          <div class="col-sm-7 ml-auto">
            <input type="password" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label">ยืนยันรหัสผ่านใหม่</label>
          <div class="col-sm-7 ml-auto">
            <input type="password" class="form-control"/>
          </div>
        </div>
        <button type="submit" class="btn btn-success mt-4">ยืนยันการเปลี่ยนรหัสผ่าน</button>
      </div>
    </form>
  </div>
</div>
