<app-navbar></app-navbar>

<div class="header">
  <p class="text-center"><strong>ลืมรหัสผ่าน</strong></p>

  <div class="card jumsize shadow">
    <form>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-form-label">ชื่อผู้ใช้งาน</label>
          <div class="col-sm-7 ml-auto">
            <input type="text" class="form-control" maxlength="8" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label">คำถามกรณีเมื่อลืมรหัส</label>
          <div class="col-sm-7 ml-auto">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label">คำตอบกรณีเมื่อลืมรหัส</label>
          <div class="col-sm-7 ml-auto">
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="nav_button">
          <button type="button" class="btn btn-secondary mt-4" routerLink="/login">ย้อนกลับ</button>
          <button type="submit" class="btn btn-primary mt-4 mx-sm-2" routerLink="/change-password">ต่อไป</button>
        </div>
      </div>
    </form>
  </div>
</div>
