.text-center {
  font-size: 24px;
}
  .header {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  label {
    font-size: 16px;
  }
  input[type=text] {
    font-size: 16px;
  }
  .btn {
    font-size: 16px;

  }
  h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }

  .card2{
    margin-left: 15%;
    margin-right: 15%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
  }

  .card-header{
    background-color: #006dcc;
    color: white;
    padding: 0.1rem 1.5rem;
  }

  .card-body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .row{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table ,tr td{
    border: 1px solid #ddd;
  }
  tbody {
    display: block;
    height: 126px;         /* ความสูงของตาราง */
    overflow: auto;
  }
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  thead {
    height: 40px;
    width: calc( 100% - 1eem );
    border-bottom: 1px solid #ddd;
  }
  thead tr th {
    border-right: 1px solid #ddd;
  }
  thead tr th:last-child {
    border-right: 1px solid white;
  }
  tr td {
    height: 30px;
  }
  table {
    width: 100%;
  }
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table tbody tr:hover {
    background-color: #ccc;
  }

  .modal-dialog {
    width: 30%;
  }

  .btn-danger {
    height: 38px;
    width: 50px;
  }
