<app-navbar></app-navbar>

<div class="header">
  <p class="text-center"><strong>ตั้งค่าระบบ (เฉพาะ Admin)</strong></p>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> ตารางกำหนดสิทธิ์ผู้ใช้งาน</h5>
    </div>
    <div class="card-body">
          <table id="tables">
            <thead>
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>ชื่อผู้ใช้ (Username)</th>
                <th>อีเมล</th>
                <th>จัดการ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of datas;let i = index">
                <td>{{i+1}}</td>
                <td>{{d.fname}}</td>
                <td>{{d.lname}}</td>
                <td>{{d.users}}</td>
                <td>{{d.email}}</td>
                <td>
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#settingModal"
                  (click)="edit_StatusMember(d.key,d.fname,d.lname,d.users,d.email,d.privilege_id)">ตั้งค่าสิทธิ์ผู้ใช้งาน</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-right ml-auto">
            <h5><strong>จำนวนผู้ใช้งานทั้งหมด {{count}} รายการ</strong></h5>
          </div>
        </div>
      </div>

<div class="row">
  <form (ngSubmit)="addDataM1_aging(dd)" #dd="ngForm">
    <h5 style="margin-top: 25px">เพิ่มข้อมูลตารางบ่มซากเนื้อโค (aging)</h5>
    <hr>
    <div class="form-row">
      <div class="col-sm-2 mb-2">
        <label>รหัสซากซ้าย</label>
        <input type="text" class="form-control" name="code1" ngModel>
      </div>
      <!-- <div class="col-sm-1 m b-2">
        <label>ชื่อ</label>
        <input type="text" class="form-control" name="name1" ngModel>
      </div> -->
      <div class="col-sm-2 mb-2">
        <label>รหัสบาร์โค้ด</label>
        <input type="text" class="form-control" name="barcode1" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>น้ำหนัก (กก.)</label>
        <input type="text" class="form-control" name="weight1" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสซากขวา</label>
        <input type="text" class="form-control" name="code2" ngModel>
      </div>
      <!-- <div class="col-sm-1 mb-2">
        <label>ชื่อ</label>
        <input type="text" class="form-control" name="name2" ngModel>
      </div> -->
      <div class="col-sm-2 mb-2">
        <label>รหัสบาร์โค้ด</label>
        <input type="text" class="form-control" name="barcode2" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>น้ำหนัก (กก.)</label>
        <input type="text" class="form-control" name="weight2" ngModel>
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label>สถานะ</label>
        <input type="text" class="form-control" name="status" ngModel="ชำแหละแล้ว">
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label hidden>วันที่เพิ่มข้อมูล</label>
        <input type="text" class="form-control" name="date" ngModel="{{date}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">เพิ่มข้อมูล</button>
  </form>
</div>

<!------------------------ ตาราง set-weight ----------------------------------------------------------->
<div class="row">
  <form (ngSubmit)="addDataM1_setWeight(de)" #de="ngForm">
    <h5 style="margin-top: 25px">เพิ่มข้อมูลตารางกำหนดซากเนื้อโค (set-weight)</h5>
    <hr>
    <div class="form-row">
      <div class="col-sm-2 mb-2" hidden>
        <label>วันที่เริ่มบ่ม</label>
        <input type="text" class="form-control" name="aging_s" ngModel="06-12-2018">
      </div>
      <div class="col-sm-2 mb-2" hidden>
        <label>วันที่บ่มเสร็จ</label>
        <input type="text" class="form-control" name="aging_e" ngModel="13-12-2018">
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสซากซ้าย</label>
        <input type="text" class="form-control" name="code1" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสบาร์โค้ด</label>
        <input type="text" class="form-control" name="barcode1" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>น้ำหนักอุ่น (กก.)</label>
        <input type="text" class="form-control" name="weight_w1" ngModel>
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label>น้ำหนักเย็น (กก.)</label>
        <input type="text" class="form-control" name="weight_c1" ngModel="">
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสซากขวา</label>
        <input type="text" class="form-control" name="code2" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสบาร์โค้ด</label>
        <input type="text" class="form-control" name="barcode2" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>น้ำหนักอุ่น (กก.)</label>
        <input type="text" class="form-control" name="weight_w2" ngModel>
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label>น้ำหนักเย็น (กก.)</label>
        <input type="text" class="form-control" name="weight_c2" ngModel="">
      </div>
      <div class="col-sm-1 mb-2">
        <label>ชื่อผู้บ่ม</label>
        <input type="text" class="form-control" name="name_aging" ngModel="ทศวรรษ">
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label>สถานะ</label>
        <input type="text" class="form-control" name="status" ngModel="บ่มแล้ว">
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label hidden>วันที่เพิ่มข้อมูล</label>
        <input type="text" class="form-control" name="date" ngModel="{{date}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">เพิ่มข้อมูล</button>
  </form>
</div>

<!------------------------ ตาราง import-d1-type1 ----------------------------------------------------------->
<div class="row">
  <form (ngSubmit)="addDataM2_importD1Type1(dq)" #dq="ngForm">
    <h5 style="margin-top: 25px">เพิ่มข้อมูลนำเข้าแผนกเชือด ซากเนื้อโคซ้าย-ขวา (import-d1-type1)</h5>
    <hr>
    <div class="form-row">
      <div class="col-sm-1 mb-2" hidden>
        <label>วันที่นำเข้า</label>
        <input type="text" class="form-control" name="date_import" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสซาก</label>
        <input type="text" class="form-control" name="code" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>ประเภทซาก</label>
        <input type="text" class="form-control" name="type" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสบาร์โค้ดซาก</label>
        <input type="text" class="form-control" name="barcode" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>น้ำหนักอุ่น (กก.)</label>
        <input type="text" class="form-control" name="weight_w" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>สถานะ</label>
        <input type="text" class="form-control" name="status" ngModel="พร้อมบ่ม">
      </div>
      <div class="col-sm-1 mb-2">
        <label>ตำแหน่ง</label>
        <input type="text" class="form-control" name="room" ngModel="ห้องเก็บ1">
      </div>
      <div class="col-sm-1 mb-2">
        <label>ชื่อผู้นำเข้า</label>
        <input type="text" class="form-control" name="name_import" ngModel="ทศวรรษ">
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label hidden>วันที่เพิ่มข้อมูล</label>
        <input type="text" class="form-control" name="date" ngModel="{{date}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">เพิ่มข้อมูล</button>
  </form>
</div>

<!------------------------ ตาราง store-t1 ----------------------------------------------------------->
<div class="row">
  <form (ngSubmit)="addDataM4_store1(data2Form)" #data2Form="ngForm">
    <h5>เพิ่มข้อมูลตารางคลัง (store-t1)</h5>
    <hr>
    <div class="form-row">
      <div class="col-sm-2 mb-2">
        <label>รหัสซาก</label>
        <input type="text" class="form-control" name="code" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>ประเภทซาก</label>
        <input type="text" class="form-control" name="type" ngModel>
      </div>
      <div class="col-sm-2 mb-2">
        <label>รหัสบาร์โค้ดซาก</label>
        <input type="text" class="form-control" name="barcode" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>น้ำหนักอุ่น(กก.)</label>
        <input type="text" class="form-control" name="weight_w" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>น้ำหนักเย็น(กก.)</label>
        <input type="text" class="form-control" name="weight_c" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>อายุ(วัน)</label>
        <input type="text" class="form-control" name="age" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>สถานะ</label>
        <input type="text" class="form-control" name="status" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>เกรด</label>
        <input type="text" class="form-control" name="grade" ngModel>
      </div>
      <div class="col-sm-1 mb-2">
        <label>ราคา(บาท)</label>
        <input type="text" class="form-control" name="price" ngModel>
      </div>
      <div class="col-sm-1 mb-2" hidden>
        <label hidden>วันที่เพิ่มข้อมูล</label>
        <input type="text" class="form-control" name="date" ngModel="{{date}}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">เพิ่มข้อมูล</button>
  </form>
</div>



<button id="closeModel" [hidden]="true" data-toggle="modal" data-target="#settingModal">Open Modal</button>
</div>

<!-- Model กำหนดสิทธิ์ -->
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form (ngSubmit)="onEdit_StatusMember(items.$key,data)" #data="ngForm">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <b style="font-size: 18px">แก้ไขสิทธิ์ผู้ใช้งาน</b>
    </div>
    <div class="modal-body">
      <div class="form-group row mx-sm-2">
        <b>ชื่อ</b>
        <input id="sz" class="form-control col-6 ml-auto" name="fname" ngModel="{{items.fname}}" disabled>
      </div>
      <div class="form-group row mx-sm-2">
        <b>นามสกุล</b>
        <input id="sz" class="form-control col-6 ml-auto" name="lname" ngModel="{{items.lname}}" disabled>
      </div>
      <div class="form-group row mx-sm-2">
        <b>ชื่อผู้ใช้งาน (Username)</b>
        <input id="sz" class="form-control col-6 ml-auto" name="users" ngModel="{{items.users}}" disabled>
      </div>
      <div class="form-group row mx-sm-2">
        <b>อีเมล</b>
        <input id="sz" class="form-control col-6 ml-auto" name="email" ngModel="{{items.email}}" disabled>
      </div>
      <div class="form-group row mx-sm-2">
        <div class="input-group form-search mb-4">
          <b>สิทธิ์ผู้ใช้งาน</b>
          <select class="form-control search-query col-6 ml-auto" name="privilege_id" ngModel="{{items.privilege_id}}" value="{{items.privilege_id}}" style="border-radius: 4px">
            <option selected value="1">ผู้ดูแลระบบ</option>
            <option value="2">ผู้ใช้งานทั่วไป</option>
          </select>
        </div>
        <!-- <label><b>จำนวนรายการบ่มทั้งหมด {{idcheck.length}} รายการ</b></label> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-chevron-left"></i> กลับ</button>
        <button type="submit" class="btn btn-primary">ตกลง <i class="fa fa-check"></i></button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
