.text-center {
  font-size: 24px;
}

.card {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}

.card-header {
  background-color: #006dcc;
  color: white;
  padding: 0.1rem 1.5rem;
}

.card-body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
}

table ,tr td{
  border: 1px solid #ddd;
}
tbody {
  display: block;
  height: 140px;       /* ความสูงของตาราง */
  overflow: auto;
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  height: 35px;
  width: calc( 100% - 1eem );
  border-bottom: 1px solid #ddd;
}
thead tr th {
  border-right: 1px solid #ddd;
}
thead tr th:last-child {
  border-right: 1px solid white;
}
table {
  width: 100%;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tbody tr:hover {
  background-color: #e9e9e9;
}

.btn-dafault {
  background-color: #4CAF50;
  color: white;
}

/* ****กำหนดขนาดปฏิทิน**** */
.nav_button {
  text-align: center;
  margin-top: 20px;
}

.btn {
  font-size: 18px;
  height: 36px;
}

.modal-dialog {
  width: 30%;
}

.modal-header {
  font-size: 18px;
}

.modal-footer button {
  font-size: 18px;
}

/* ตัวหนังสือใน modal */
label {
  font-size: 16px;
  font-weight: bold;
}

.dropbtn{
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  font-size: 16px;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #495057;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 135px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: #495057;
  font-size: 16px;
  padding: 5px 20px;
  text-decoration: none;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.dropdown-content a:first-child {
  border-top: 1px solid #ddd;
}
.dropdown-content a:last-child {
  border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transition: all 0.3s ease;
}

.btn-dafault {
  background-color: #4CAF50;
  color: white;
}

/* ****กำหนดขนาดปฏิทิน**** */
.nav_button {
  text-align: center;
  margin-top: 20px;
}

.btn {
  font-size: 16px;
}

.modal-dialog {
  width: 30%;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
}

.modal-footer button {
  font-size: 18px;
}

/* ตัวหนังสือใน modal */
label {
  font-size: 18px;
}

input[type=text] {
  font-size: 16px;
  height: 30px;
}

h5 {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

tr td input {
  height: 25px;
  margin-left: 25%;
  font-size: 16px;
}

.input-group {
  width: 300px;
}

select {
  font-size: 16px;
  height: 30px;
}

hr {
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-left: 5%;
  margin-right: 5%;
}

.input-group-prepend span {
  border-radius: 0px 5px 5px 0px;
  background-color: #4CAF50;
  color: white;
}

td button {
  height: 32px;
}

.btn-success {
  width: 40px;
}

#hh {
  margin-top: -10px;
}

#ff {
  font-size: 16px;
}
