<app-navbar></app-navbar>

<div class="header">
  <p class="text-center"><strong>นำเข้าจากแผนกเชือด</strong></p>

  <div class="row r1">
    <div class="form-inline">
      <label class="col-form-label" style="margin-left: 110px"><b> ประเภทการนำเข้า</b></label>
      <div class="dropdown mx-sm-3">
        <button class="dropbtn">ซากเนื้อโค (ส่วนอื่น) &nbsp;<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          <a routerLink="/menu2/d1-type1">ซากเนื้อโค (ซ้าย-ขวา)</a>
        </div>
      </div>
      <label class="col-form-label"><b> ชนิดของซาก</b></label>
      <div class="d1 ml-3">
        <div class="input-group form-search ml-auto">
            <select class="form-control search-query fcsq1">
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="ซากซ้าย">เครื่องใน</option>
              <option value="ซากขวา">หัว</option>
              <option value="ซากขวา">หาง</option>
              <option value="ซากขวา">หนัง</option>
              <option value="ซากขวา">ขา</option>
              <option value="ซากขวา">ไขมัน</option>
              <option value="ซากขวา">อองเล</option>
            </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหาโดย</b></label>
      <div class="input-group form-search  ml-3">
        <select class="form-control search-query fcsq2" (change)="selectMenu(slt)" ngModel="1" #slt>
          <option value="1">ชื่อผู้นำเข้า</option>
          <option value="2">รหัสบาร์โค้ดซาก</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"(keyup)="searchTable()" ngModel style="height: 35px"/>
        <div class="input-group-prepend">
          <span class="input-group-text" style="height: 35px;" id="igt"> <i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row r2">
    <div class="input-group c1">
      <label class="label mr-3 mt-2 test" style="margin-left: 180px"><b> วันที่นำเข้า </b></label>
      <input type="date" class="form-control "id="fc1">
      <div class="input-group-append">
        <span class="input-group-text"><i style='font-size:24px' class='far'>&#xf073;</i></span>
      </div>
    </div>
    <div class="input-group c2">
        <label class="label ml-3 mr-3 mt-2"><b> ถึงวันที่ </b></label>
        <input type="date" class="form-control "id="fc2">
        <div class="input-group-append">
          <span class="input-group-text"><i style='font-size:24px' class='far'>&#xf073;</i></span>
        </div>
      </div>
    <button type="submit" class="btn btn-primary mx-sm-3"> ค้นหา <i class="fa fa-search"></i></button>
  </div>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการที่นำเข้าจากแผนกเชือด</h5>
    </div>
    <div class="card-body">
      <table id="tables">
        <thead>
          <tr>
            <th width=70px>ลำดับ</th>
            <th width=100px>วันที่นำเข้า</th>
            <th width=90px>เวลา</th>
            <th width=100px>ประเภท</th>
            <th width=110px>เบอร์โค</th>
            <th width=110px>รหัสซาก</th>
            <th width=130px>รหัสบาร์โค้ดซาก</th>
            <th width=110px>น้ำหนักอุ่น (กก.)</th>
            <th width=50px>ห้อง</th>
            <!-- <th width=50px>ชั้น</th>
            <th width=50px>ตะกร้า</th> -->
            <th width=100px>สถานะ</th>
            <th>ชื่อผู้นำเข้า</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td width=70px>1</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=90px>00:00 น.</td>
            <td width=100px>-</td>
            <td width=110px>000000</td>
            <td width=110px>000000</td>
            <td width=130px>000000000000000</td>
            <td width=110px>000.00</td>
            <td width=50px>0</td>
            <td width=100px>คงคลัง</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=70px>2</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=90px>00:00 น.</td>
            <td width=100px>-</td>
            <td width=110px>000000</td>
            <td width=110px>000000</td>
            <td width=130px>000000000000000</td>
            <td width=110px>000.00</td>
            <td width=50px>0</td>
            <td width=100px>คงคลัง</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=70px>3</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=90px>00:00 น.</td>
            <td width=100px>-</td>
            <td width=110px>000000</td>
            <td width=110px>000000</td>
            <td width=130px>000000000000000</td>
            <td width=110px>000.00</td>
            <td width=50px>0</td>
            <td width=100px>คงคลัง</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=70px>4</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=90px>00:00 น.</td>
            <td width=100px>-</td>
            <td width=110px>000000</td>
            <td width=110px>000000</td>
            <td width=130px>000000000000000</td>
            <td width=110px>000.00</td>
            <td width=50px>0</td>
            <td width=100px>คงคลัง</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=70px>5</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=90px>00:00 น.</td>
            <td width=100px>-</td>
            <td width=110px>000000</td>
            <td width=110px>000000</td>
            <td width=130px>000000000000000</td>
            <td width=110px>000.00</td>
            <td width=50px>0</td>
            <td width=100px>คงคลัง</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=70px>6</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=90px>00:00 น.</td>
            <td width=100px>-</td>
            <td width=110px>000000</td>
            <td width=110px>000000</td>
            <td width=130px>000000000000000</td>
            <td width=110px>000.00</td>
            <td width=50px>0</td>
            <td width=100px>คงคลัง</td>
            <td>ทศวรรษ</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right ml-auto">
        <h5><strong>จำนวนรายการทั้งหมด 6 รายการ</strong></h5>
      </div>
    </div>
  </div>
</div>
