<app-navbar></app-navbar>

<div class="header">
  <p class="text-center"><strong>การแจ้งเตือน</strong></p>

  <div class="row col r1">
    <div class="t1 col-3">
      <div class="card shadow p">
        <div class="card-header">
          <a><i class="material-icons">&#xe7f7;</i>&nbsp;ประเภทการแจ้งเตือน</a>
        </div>
        <div class="card-body c1">
          <div class="row aa">
            <button type="button" class="btn btn-primary ml-1" routerLink="/menu6/notification-t1">
              วันใกล้หมดอายุ
            </button>
          </div>
          <!-- <div class="row aa">
            <button type="button" class="btn btn-primary ml-1" routerLink="/menu6/notification-t2">
              วันครบกำหนดบ่มซาก
            </button>
          </div> -->
          <div class="row aa">
            <button type="button" class="btn btn-primary ml-1" routerLink="/menu6/notification-t3">
              การนำเข้า
            </button>
          </div>
          <div class="row aa">
            <button type="button" class="btn btn-primary ml-1" id="active" routerLink="/menu6/notification-t4">
              การเบิกออก
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="t2 col-9">
        <div class="card shadow p">
          <div class="card-header">
            <a>&nbsp;&nbsp;การนำเข้า</a>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="text-center2"><label><b>เบิกไปตัดแต่ง</b></label></div>
                <table>
                  <thead>
                    <tr>
                      <th width=55>ลำดับ</th>
                      <th width=90>วันที่เบิกออก</th>
                      <th width=150>รายการ</th>
                      <th width=60>จำนวน</th>
                      <th>รายละเอียด</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td width=55>1</td>
                      <td width=90>วว-ดด-ปปปป</td>
                      <td width=150>เนื้อทีโบน (ก้อน)</td>
                      <td width=60>3</td>
                      <td>
                        <button class="btn btn-success" routerLink="/menu2/set-weight"
                        data-toggle="modal" data-target="#notifi">
                          <i class="far fa-file-alt"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td width=55>2</td>
                      <td width=90>วว-ดด-ปปปป</td>
                      <td width=150>เนื้อสันใน (ก้อน)</td>
                      <td width=60>7</td>
                      <td>
                        <button class="btn btn-success" routerLink="/menu2/set-weight">
                          <i class="far fa-file-alt"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td width=55>3</td>
                      <td width=90>วว-ดด-ปปปป</td>
                      <td width=150>เนื้อลูกมะพร้าว (ก้อน)</td>
                      <td width=60>4</td>
                      <td>
                        <button class="btn btn-success" routerLink="/menu2/set-weight">
                          <i class="far fa-file-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                  <div class="text-center2"><label><b>เบิกไปจำหน่าย</b></label></div>
                  <table>
                    <thead>
                      <tr>
                        <th width=55>ลำดับ</th>
                        <th width=90>วันที่เบิกออก</th>
                        <th width=150>รายการ</th>
                        <th width=60>จำนวน</th>
                        <th>รายละเอียด</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td width=55>1</td>
                        <td width=90>วว-ดด-ปปปป</td>
                        <td width=150>ซากซ้าย</td>
                        <td width=60>4</td>
                        <td>
                          <button class="btn btn-success" routerLink="/menu2/set-weight"
                          data-toggle="modal" data-target="#notifi2">
                            <i class="far fa-file-alt"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td width=55>2</td>
                        <td width=90>วว-ดด-ปปปป</td>
                        <td width=150>ซากขวาบน</td>
                        <td width=60>3</td>
                        <td>
                          <button class="btn btn-success" routerLink="/menu2/set-weight">
                            <i class="far fa-file-alt"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td width=55>3</td>
                        <td width=90>วว-ดด-ปปปป</td>
                        <td width=150>เนื้อสะโพก (ก้อน)</td>
                        <td width=60>6</td>
                        <td>
                          <button class="btn btn-success" routerLink="/menu2/set-weight">
                            <i class="far fa-file-alt"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div
  class="modal fade"
  id="notifi"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"><b>รายละเอียด</b></div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th width="30px">ลำดับ</th>
              <th width="60px">ประเภทซาก</th>
              <th width="60px">เบอร์ซาก</th>
              <th width="60px">รหัสซาก</th>
              <th width="60px">รหัสบาร์โค้ดซาก</th>
              <th width="40px">ห้อง</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="30px">1</td>
              <td width="60px">เนื้อทีโบน (ก้อน)</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
            <tr>
              <td width="30px">2</td>
              <td width="60px">เนื้อทีโบน (ก้อน)</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
            <tr>
              <td width="30px">3</td>
              <td width="60px">เนื้อทีโบน (ก้อน)</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="notifi2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header"><b>รายละเอียด</b></div>
      <div class="modal-body">
        <table>
          <thead>
            <tr>
              <th width="30px">ลำดับ</th>
              <th width="60px">ประเภทซาก</th>
              <th width="60px">เบอร์ซาก</th>
              <th width="60px">รหัสซาก</th>
              <th width="60px">รหัสบาร์โค้ดซาก</th>
              <th width="40px">ห้อง</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width="30px">1</td>
              <td width="60px">ซากซ้าย</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
            <tr>
              <td width="30px">2</td>
              <td width="60px">ซากซ้าย</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
            <tr>
              <td width="30px">3</td>
              <td width="60px">ซากซ้าย</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
            <tr>
              <td width="30px">4</td>
              <td width="60px">ซากซ้าย</td>
              <td width="60px">000000</td>
              <td width="60px">000000</td>
              <td width="60px">000000000000000</td>
              <td width="40px">1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
