<app-navbar></app-navbar>

<div class="header">
  <p class="text-center"><strong>นำเข้าจากแผนกตัดแต่ง</strong></p>

  <div class="row r1">
    <div class="form-inline">
      <label class="col-form-label" style="margin-left: 110px"><b> ประเภทการนำเข้า</b></label>
      <div class="dropdown mx-sm-3">
        <button class="dropbtn">ซากเนื้อโค (ก้อน) &nbsp;<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
          <a routerLink="/menu2/d2-type1">ซากเนื้อโค (บน-ล่าง)</a>
        </div>
      </div>
      <label class="col-form-label"><b> ชนิดของซาก</b></label>
      <div class="d1 ml-3">
        <div class="input-group form-search ml-auto">
            <select class="form-control search-query fcsq1"> <!-- (change)="filter_1(t1)" ngModel="ทั้งหมด" #t1-->
              <option value="ทั้งหมด">ทั้งหมด</option>
              <option value="">เนื้อน่อง</option>
              <option value="">เนื้อสะโพกนอก</option>
              <option value="">เนื้อลูกมะพร้าว</option>
              <option value="">ทีโบน</option>
              <option value="">เนื้อสันสะโพก</option>
              <option value="">เนื้อหางสันสะโพก</option>
              <option value="">เนื้อสันนอก</option>
              <option value="">ใบบัวสเต๊ก</option>
              <option value="">เนื้อสะโพกใน</option>
              <option value="">เนื้อสันใน</option>
              <option value="">เนื้อสันไหล่</option>
              <option value="">เนื้อรักบี้</option>
              <option value="">เนื้อเสือร้องไห้</option>
              <option value="">เนื้อปลาช่อน</option>
              <option value="">เนื้อสันกลางถอดกระดูก</option>
              <option value="">เนื้อซี่โครงติดกระดูก</option>
              <option value="">เนื้อใบพาย</option>
            </select>
          </div>
      </div>
      <label class="col-form-label ml-3"><b>ค้นหาโดย</b></label>
      <div class="input-group form-search ml-3">
        <select class="form-control search-query fcsq2"> <!-- (change)="selectMenu(slt)" ngModel="1" #slt-->
          <option value="1">ชื่อผู้นำเข้า</option>
        </select>
        <input type="text" class="form-control search-query" id="myInput"style="height: 35px"/> <!--(keyup)="searchTable()" ngModel -->
        <div class="input-group-prepend">
          <span class="input-group-text" style="height: 35px;" id="igt"> <i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row r2">
    <div class="input-group c1">
      <label class="label mr-3 mt-2 test" style="margin-left: 160px"><b> วันที่นำเข้า </b></label>
      <input type="date" class="form-control " id="fc1">
      <div class="input-group-append">
        <span class="input-group-text"><i style='font-size:24px' class='far'>&#xf073;</i></span>
      </div>
    </div>
    <div class="input-group c2">
        <label class="label ml-3 mr-3 mt-2"><b> ถึงวันที่ </b></label>
        <input type="date" class="form-control " id="fc2">
        <div class="input-group-append">
          <span class="input-group-text"><i style='font-size:24px' class='far'>&#xf073;</i></span>
        </div>
      </div>
    <button type="submit" class="btn btn-primary mx-sm-3"> ค้นหา <i class="fa fa-search"></i></button>
  </div>

  <div class="card shadow p">
    <div class="card-header">
      <h5><i class="fa fa-table"></i> รายการนำเข้าจากแผนกตัดแต่ง</h5>
    </div>
    <div class="card-body">
      <table id="tables">
        <thead>
          <tr>
            <th width=50px>ลำดับ</th>
            <th width=100px>วันที่นำเข้า</th>
            <th width=80px>เวลา</th>
            <th width=100px>รหัสซาก</th>
            <th width=160px>ประเภทซาก</th>
            <th width=120px>รหัสบาร์โค้ดซาก</th>
            <th width=100px>น้ำหนักซาก (กก.)</th>
            <th width=80px>เกรดซาก</th>
            <th width=100px>ราคาซาก (บาท)</th>
            <th width=50px>ห้อง</th>
            <th width=50px>ชั้น</th>
            <th width=50px>ตะกร้า</th>
            <th width=120px>สถานะ</th>
            <th>ชื่อผู้นำเข้า</th>
        </thead>
        <tbody>
          <tr>
            <td width=50px>1</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=80px>00:00 น.</td>
            <td width=100px>000000</td>
            <td width=160px>เนื้อสันนอก</td>
            <td width=120px>000000000000000</td>
            <td width=100px>000.00</td>
            <td width=80px>0.0</td>
            <td width=100px>0.0</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=120px>หลังตัดแต่งครั้ง 2</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=50px>2</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=80px>00:00 น.</td>
            <td width=100px>000000</td>
            <td width=160px>เนื้อสันใน</td>
            <td width=120px>000000000000000</td>
            <td width=100px>000.00</td>
            <td width=80px>0.0</td>
            <td width=100px>0.0</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=120px>หลังตัดแต่งครั้ง 2</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=50px>3</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=80px>00:00 น.</td>
            <td width=100px>000000</td>
            <td width=160px>เนื้อทีโบน</td>
            <td width=120px>000000000000000</td>
            <td width=100px>000.00</td>
            <td width=80px>0.0</td>
            <td width=100px>0.0</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=120px>หลังตัดแต่งครั้ง 2</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=50px>4</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=80px>00:00 น.</td>
            <td width=100px>000000</td>
            <td width=160px>เนื้อปลาช่อน</td>
            <td width=120px>000000000000000</td>
            <td width=100px>000.00</td>
            <td width=80px>0.0</td>
            <td width=100px>0.0</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=120px>หลังตัดแต่งครั้ง 2</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=50px>5</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=80px>00:00 น.</td>
            <td width=100px>000000</td>
            <td width=160px>เนื้อลูกมะพร้าว</td>
            <td width=120px>000000000000000</td>
            <td width=100px>000.00</td>
            <td width=80px>0.0</td>
            <td width=100px>0.0</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=120px>หลังตัดแต่งครั้ง 2</td>
            <td>ทศวรรษ</td>
          </tr>
          <tr>
            <td width=50px>6</td>
            <td width=100px>วว-ดด-ปปปป</td>
            <td width=80px>00:00 น.</td>
            <td width=100px>000000</td>
            <td width=160px>เนื้อสันกลางถอดกระดูก</td>
            <td width=120px>000000000000000</td>
            <td width=100px>000.00</td>
            <td width=80px>0.0</td>
            <td width=100px>0.0</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=50px>-</td>
            <td width=120px>หลังตัดแต่งครั้ง 2</td>
            <td>ทศวรรษ</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right ml-auto">
        <h5><strong>จำนวนรายการทั้งหมด 6 รายการ</strong></h5>
      </div>
    </div>
  </div>
</div>
