.container {
  max-width: 90%;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.edit{
  margin: 20px;
  font-size: 24px;
}

.material-icons{
  vertical-align: -6px;
  font-size: 1.8rem;
}

.card {
  margin-bottom: 15%;
}

.navbar-icon {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #ddd;
}

h5 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}

a {
  margin-left: 20px;
}

.btn {
  color: white;
  font-size: 18px
}

#profile-image-upload {
  font-size: 16px;
}

input, select, label {
  font-size: 16px;
  margin-bottom: -10px;
}

input {
  height: 28px;
}

select {
  height: 30px;
}

.modal-dialog {
  width:100%;
  margin:0 auto;
}

button {
  font-size: 16px;
}

a {
  height: 50px;
}

br {
  line-height: 35px;
}
